# Django core
django
djangorestframework

# Database Connector
psycopg2-binary

# Environment & Settings Management
python-decouple

# Data Handling & Generation
pandas
Faker

# API Filtering
django-Filter
